body{
height: 100vh;
  background: rgba(202, 112, 52, 0.2);
  background-image: url(c44794b4-1700-4908-a588-f475219d0bee.jpg);
}
.navie {
    background-color: #242220;
    padding: 1em;
    border-radius: 0%;
    text-align: center;
  }
  
  .navie ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navie li {
    margin-right: 20px;
  }
  
  .navie a {
    color: #fff;
    text-decoration: none;
  }
  
  #gallery {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.image-container {
    display: none;
}
.image-container.active {
    display: block;
}
button {
    margin: 5px;
    background-color: #242220;
    color: #fff;
    border: none;
    padding: auto;
}
.border{
  border: 1px solid transparent;
  border-radius: 2%;
  margin: 20px;
  padding: auto;
  background-color: #242220;
}
.HQs{
  display: flex;
  justify-content: space-between;
  padding: auto;
  margin: 20px;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background:#d66203;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #c25656;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content:"";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  right: -15px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #242220;
  color: #fff;
}
a{
  color: inherit;
}

  